body {
    margin: 0;
    background-color: plum;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
    margin-left: 10em;
    margin-right: 10em;
    background-color: chartreuse;
}

.header {
    height: 100px;
    background-color: aqua ;
}

.main {
    flex-grow: 1;
    background-color: aqua;
}

.footer {
    height: 100px;
    background-color: aqua;
}
