* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    display: flex;
    gap: 3em; 
    width: 100%;
    padding: 0 3em; 
    background-color: #2b3a4a; 
}

.left-section {
    flex-grow: 1; 
    background-color: #8ed3c7;
}

.right-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100px);
    gap: 1em;
    width: 20em;
    padding: 1em;
    background-color: #f7a889;
}


.box{
    height: 100px;
    background-color: #7fbdff; 
    display: flex;
    align-items: center;
    justify-content: center;
}